.container {

    width: 30vw;
    margin: 0 auto;
}



.current-price {
    border: 2px solid #d1d1d1;
    color: #7c7b7b;
    border-radius: 30px;
    font-family: sans-serif;
    font-size: 16px;
    padding: 10px;
}

.button {
    border-radius: 60px;
    border: 3px solid #d1d1d1;
    color: #7c7b7b;
    font-family: sans-serif;
    font-size: 16px;
    display: inline-block;
    padding: 3px 8px;
    margin-left: 10px;
}

.button:hover {
    background-color: #e7e7e7;
    color: red;
}

.input-container {
    width: 240px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    flex-wrap: wrap;
}

.price-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: sans-serif;
}
.input-field {
    /* width: 160px; */
    border-radius: 4px;
    border: 2px solid #d1d1d1;
}

.focusin {
    border: 2px solid green;
    outline: none;
}

.focusout {
    outline: none;
    color: green;
    font-weight: 700;
}

.alert {
    border: 2px solid red;
}

.alert-bg {
    background-color: red;
    color: white;
}
