$title-color: #4E4E4E;
$text-color: #5C5C5C;
$comments-color: #7C7C7C;
$hover-color: #57A4A4;
$footer-title-color: #FEFEFE;
$footer-text-color:#B9B9B9;
$mobile-menu-bg-color:#F5F5F5; 
$mobile-menu-bg-hover: #E5E5E5;
$burger-bg-color: #000;
$gallery-bg-color: #F7F7F7;

