*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    color: #2C2C2C;
}

.container {
    width: 1280px;
    margin: 0 auto;
}


a {
    text-decoration: none;
}

img {
    display: block; 
    max-width: 100%; 
    height: auto;
}

.site-header {
    padding-top: 61px;
}

.site-header-logo {
    font-size: 80px;
    line-height: 94px;
    color: #4BCAFF;
    margin-bottom: 38px;
}

.site-header-logo__logo {
    color: #4BCAFF;
}

.black-color {
    color: #000;
}


.site-top-nav {
    background: #35444F;
    display: flex;
    justify-content: center;
}

.top-nav-list {
    border-left: 1px solid #fff;
}

.top-nav-link {
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    display: block;
    padding: 26px 40px;
    transition: all ease .3s;
}

.top-nav-link:hover {
    background: #222F3A;
}

.site-main-info {
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
}

.sidebar-nav {
    width: calc((100% - 70%) - 52px);
}

.main-content {
    width: 70%;
}

.sidebar-nav-list {
    border: 1px solid #BFBFBF;
}

.sidebar-nav-link {
    display: block;
    padding: 26px 44px;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    transition: all ease .3s;
}

.sidebar-nav-link:hover {
    background: #DBDBDB;
    padding-left: 60px;
    color: #000;
}

.logo-image {
    padding: 75px 0;
    border: 1px solid #BFBFBF; 
    cursor: pointer;  
    display: flex; 
    justify-content: center;
}

.logo-img {
    transition: all ease 0.5s; 
}

.logo-img:hover {
    transform: scale(1.1);
}

.site-main-info-content__text {
    font-size: 18px;
    margin-top: 34px;
}

.site-footer {
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    padding: 24px 40px 8px;
    justify-content: space-between;
}

.site-footer-nav {
    display: flex;

}

.footer-nav-item:not(:last-child) {
    margin-right: 30px;
}

.footer-nav-link {
    display: block;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    transition: all ease 0.3s;
    padding-bottom: 15px;
    border-bottom: 1px solid transparent;
}


.footer-nav-link:hover {
    color: #3181a6;
    border-color: #3181a6;
    
}


.site-footer-copyright {
    text-align: right;
    font-size: 24px;
    line-height: 30px;
}