:root {
    --primary-color: #FF0000;
    --secondary-color: #373737;
    --theme-primary: #fff;
    --theme-secondary: #222;
}



*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 100%;  
}
body {
    color: var(--secondary-color);
    font-family: 'Montserrat', sans-serif; 
    line-height: 18px;
    background-color: var(--theme-primary);
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.container {
    width: 80em;
    margin: 0 auto;
}

.site-header {
    padding: 30px 0;
    text-align: center;
    position: relative;
}

.top-nav-item {
    list-style: none;
    display: inline-block;
}

.top-nav-item:not(:first-child) {
    margin-left: 86px;
}

.top-nav-link {
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
}

.header-theme-buttons {
    position: absolute;
    right: 0;
    top: 15%;
}

.header--theme-button {
    height: 30px;
    width: 30px;
    margin: 10px 5px 0 0;
    border-top: 15px solid var(--theme-primary);
    border-bottom: 15px solid var(--theme-secondary);
    border-right: 0;
    border-left: 0;
    padding: 0;
    box-shadow: 0 0 3px gray;
}

.header--theme-button:hover {
    box-shadow: 2px 2px 2px gray;
}
  
.header--theme-button.active {
    box-shadow: 3px 3px 3px gray;
}

.header--theme-button:focus {
    outline: none;
}

.site-main-info {
    text-align: center;
}

.site-main-info__img {
    width: 100%;
    display: block;
    height: auto;
    margin-bottom: 48px;
}


.site-main-info__header {
    margin-bottom: 38px;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
}

.site-main-info__text {
    line-height: 26px;
    padding: 0 68px;
    letter-spacing: 2.5px;
    margin-bottom: 28px;
}

.btn {
    padding: 18px 43px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    margin-top: 84px;
    display: inline-block;
    margin-bottom: 59px;
}

.btn-red {
    background-color: var(--primary-color);
    color: var(--theme-primary);
}

.site-footer {
    text-align: right;
    padding: 40px 0;
}

.copyright {
    padding-right: 105px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2.4px;
    line-height: 20px;
}
